<!-- INDIVIDUAL POST START -->
<div class="parent-post">
    <div class="post-container">
        <div class="post-header">
            <h3 class="post-title">{{post.title}}</h3>
            <p class="title-details">Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
        </div>
        <div class="post-body">
            <p class="body-text">{{post.content}}</p>
        </div>
    </div>
</div>
<!-- INDIVIDUAL POSTS END -->
<!-- ADD COMMENT START -->
<div class="parent-comment">
    <div class="comment-container">
        <div class="comment-header">
            <h2 class="comment-title">Add your comment</h2>
        </div>
        <div class="comment-body">
            <textarea type="text" placeholder=" Enter comment" class="comment-text"></textarea>
            <input type="submit" value="Submit" class="comment-btn">
        </div>

    </div>
</div>