<!-- INDIVIDUAL POST START -->
<div class="parent-post">
    <div class="post-container">
        <div class="post-header">
            <h3 class="post-title">{{post.title}}</h3>
            <p class="title-details">Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
        </div>
        <div class="post-body">
            <p class="body-text">{{post.content}}</p>
        </div>
    </div>
</div>
<!-- INDIVIDUAL POSTS END -->
<!-- COMMENTS START -->
{{#if comments.length}}
<div class="parent-comment">
    <div class="comment-container">
        <div class="comment-header">
            <p class="commenter-details"> - by xyz on 5/8/22</p>
        </div>
        <div class="comment-body">
            <p class="body-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>
{{/if}}
<!-- COMMENTS END -->
<!-- ADD COMMENT START -->
<div class="parent-comment">
    <div class="comment-container">
        <div class="comment-header">
            <h2 class="comment-title">Add your comment</h2>
        </div>
        <div class="comment-body">
            <textarea type="text" placeholder=" Enter comment" class="comment-text"></textarea>
            <input type="submit" value="Submit" class="comment-btn">
        </div>

    </div>
</div>