<!-- CREATE NEW POST FORM START -->
<div class="parent-post">
    <div class="post-container">
        <div class="post-header">
            <h2 class="comment-title">Create New Post</h2>
        </div>
        <div class="post-body">
            <p>Title:</p>
            <textarea type="text" class="title-text"></textarea>
            <p>Content:</p>
            <textarea type="text" class="content-text"></textarea>
            <input type="submit" value="Create" class="create-btn" id="create-new-post">
        </div>
    </div>
</div>
<!-- CREATE NEW POST FORM END -->