<!-- CREATE NEW POST FORM START -->
<div class="parent-post">
    <div class="post-container">
        <form class="create-new-post">
            <div class="post-header">
                <h2 class="comment-title">Create New Post</h2>
            </div>
            <div class="post-body">
                <p>Title:</p>
                <textarea type="text" class="title-text" id="new-post-title"></textarea>
                <p>Content:</p>
                <textarea type="text" class="content-text" id="new-post-content"></textarea>
                <input type="submit" value="Create" class="create-btn">
            </div>
        </form>
    </div>
</div>
<!-- CREATE NEW POST FORM END -->