<!--DASHBOARD POSTS-->
{{#each posts as |post|}}
<div class="parent-post">
    <div class="dashboard-post-container edit-user-post">
        <a href="/api/users/edit/{{post.id}}">
        <div class="dashboard-post-header">
            <h3 class="post-title">{{post.title}}</h3>
            <p class="title-details">Posted on {{format_date post.date_created}}</p>
        </div>
        </a>
    </div>
</div>
{{/each}}
<!--DASHBOARD POSTS END-->
<!-- CREATE NEW POST BUTTON START -->
<div class="create-btn-parent">
    <button type="button" class="new-create"><a href="/api/users/create">+ Create Post</a></button>
</div>
<!-- CREATE NEW POST BUTTON END -->