<!--DASHBOARD POSTS-->
<div class="parent-post">
    <div class="dashboard-post-container">
        <div class="dashboard-post-header">
            <h3 class="post-title">Why MVC is so important</h3>
            <p class="title-details">Posted by xyz on 5/8/22</p>
        </div>
    </div>
</div>
<!--DASHBOARD POSTS END-->
<!-- CREATE NEW POST BUTTON START -->
<div class="create-btn-parent">
    <button type="button" class="new-create"><a href="/api/users/create">+ Create Post</a></button>
</div>
<!-- CREATE NEW POST BUTTON END -->