<!-- EDIT/UPDATE POST FORM START -->
<div class="parent-post">
    <div class="post-container">
        <div class="post-header">
            <h2 class="comment-title">Edit Post</h2>
        </div>
        <div class="post-body">
            <p>Title:</p>
            <textarea type="text" class="title-text">{{post.title}}</textarea>
            <p>Content:</p>
            <textarea type="text" class="content-text">{{post.content}}</textarea>
            <input type="submit" value="Update" class="update-btn">
            <input type="submit" value="Delete" class="delete-btn">
        </div>
    </div>
</div>
<!-- EDIT/UPDATE POST FORM END -->