<!-- EDIT/UPDATE COMMENT FORM START -->
<div class="parent-comment">
    <div class="comment-container">
        <div class="comment-header">
            <h2 class="comment-title">Edit your comment</h2>
        </div>
        <div class="comment-body">
            <textarea type="text" class="comment-text new-comment-content">{{comment.content}}</textarea>
            <input type="submit" value="Save" class="comment-btn update-comment-btn" post-id="{{comment.post_id}}" data-id="{{comment.id}}">
        </div>
    </div>
</div>
<!-- EDIT/UPDATE COMMENT FORM END -->